[Unit]
Description=Mount boot partition in /boot/firmware
DefaultDependencies=no
ConditionPathIsDirectory=/boot/firmware

[Service]
Type=oneshot
ExecStart=/usr/bin/mount /dev/mmcblk0p1 /boot/firmware

[Install]
WantedBy=post-boot.target
